

.home-header{
    border-bottom: 2px solid #B3B3B3;
    text-align: center;
    .logo-holder{
        padding-top: 33px;
        display: flex;
        justify-content: center;
        .logo{
            width: 164px;
            height: 48px;
            opacity: 1;
        }
    }
    .nav-bar{
        padding-top: 30px;
        display: flex;
        justify-content: space-evenly;
        width: 782px;
        padding-bottom: 16px;
        .nav-item{
            font: normal normal 600 19px/26px Segoe UI;
            font-size: 19px;
        }
    }
}
.home-pricing{
    .details{
        width: 548px;
        height: 108px;
        font-size: 40px;
        font: normal normal 900 40px/54px Nunito Sans;
        padding-left: 100px;
        margin-top: 87px;
        text-align: left;
    }
    .description{
        top: 382px;
        left: 121px;
        width: 520px;
        height: 120px;
        text-align: justify;
        font: normal normal normal 18px/24px Nunito Sans;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    .pricing-img{
        top: 156px;
        left: 734px;
        width: 509px;
        height: 518px;
        opacity: 1;
        padding-left: 20px;
    }
}
#wave1{
    margin-top: -250px;
    position: relative;
}
.check-pricing{
    position: absolute;
    padding-left: 50px;
    padding-right: 49px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #1492E6 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 33px;
    border:0;
    font-size: 23px;
    color: white;
}

.card-section{
    height: 900px   ;
    background-color:#F8FAFC;
    padding-top: 150px;
    .cards-section-heading{
        font-size: 35px;
    }
    .card{
        width: 308px;
        height: 320px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 19px;
    }
    .card-title{
        font-size: 18px;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .card-body{
        text-align: left;
        font-size: 18px;
    }
}

.image-cards{
    justify-content: center;
    .cards-section-heading{
        font-size: 35px;
    }
    .row{
        padding-top: 10px;
    }
    .card{
        width: 308px;
        height: 320px;
        background: transparent 0% 0% no-repeat padding-box;
        border:0px;
    }
    .card-title{
        font-size: 18px;
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .card-body{
        text-align: left;
        font-size: 18px;
    }
    .card-text{
        width: 328px;
        height: 168px;
    }
}

.pricing-list{

    .box-left{
        width:60%;
        display: block;
    }
    .box-right{
        margin-top: 50px;
        width:50%;
        height:180px;
        display: block;
    }

}

.ratings{
    .bg-card{
        width: 1097px;
        height: 363px;
        background: #F8FAFC 0% 0% no-repeat padding-box;
        box-shadow: 0px 16px 48px #00000029;
        border-radius: 42px;
        opacity: 1;
        padding:50px;
    }
    .card{
        width: 285px;
        height: 263px;
        /* UI Properties */
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 16px 48px #00000029;
        border-radius: 30px;
        opacity: 1;
    }
    .card-text{
        font-size: 13px;
        font-weight:600;
    }
}